<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="..." />
    <title>Daves Scores</title>
  </head>
  <body onload="statusColor()">
    <script type="text/javascript">
      let count = 0
      function trans(){
        count++;
        document.getElementById("dropMenu").classList.toggle("trans-smooth")
        
        if(count%2 != 0){
          setTimeout(function() {
            document.getElementById("menu-btn2").classList.toggle("show")
          }, (100));
          
          setTimeout(function() {
            document.getElementById("menu-btn1").classList.toggle("show")
          }, (250));
          setTimeout(function() {
            document.getElementById("menu-btn3").classList.toggle("show")
          }, (350));
        }else{
          setTimeout(function() {
            document.getElementById("menu-btn2").classList.toggle("show")
          }, (250));
          
          setTimeout(function() {
            document.getElementById("menu-btn1").classList.toggle("show")
          }, (50));
          setTimeout(function() {
            document.getElementById("menu-btn3").classList.toggle("show")
          }, (0));
        }
        document.getElementById("head").classList.toggle("adjust-header-create")
        document.getElementById("menu-img").classList.toggle("active-menu")
      }
      function getNewDate(){
        document.getElementById("cur-date").innerHTML = document.getElementById('datePicker').value
      }
      function dropbarLogin() {
        document.getElementById("dropLogin").classList.toggle("show");
      }
      function loginTitle(){
        var login = document.getElementById("down-center")
        alert("Worked")
        if (login.length == 0){
          document.getElementById("down-center").innerHTML = "Not Logged In"
        }
      }
      function statusColor(){
        var status = document.getElementById('status').innerHTML
        if(status.length == 23 || status.length == 20){
          document.getElementById('status').classList.toggle('status-red')
        }else if (status.length == 21){
          document.getElementById('status').classList.toggle('status-green')
        }else{
          document.getElementById('status').classList.toggle('status-regular')
        }
      }
    </script>
    <div class="page-wrapper">
      <div id="head" class="header-create">
        <div class="menu-right">
          <img id="menu-img" class="dropbtn-menu" src="{{url_for('static',filename='images/menu.png')}}" onclick="trans()">
            <div id="dropMenu" class="menu-drop-create">
              <form action="{{url_for('home')}}" method="POST">
                <button id="menu-btn2" class="menu-btns" type="submit" value="Home">All Scores</button>
              </form>
              <form action="{{url_for('favTeam')}}" method="POST">
                <button id="menu-btn1" class="menu-btns" type="submit" value="Fav">Favorites</button>
              </form>
              <form action="{{url_for('createUser')}}" method="POST">
                <button id="menu-btn3" class="menu-btns" type="submit" value="Create">Create User</button>
              </form>
            </div>
          </div>
        </div>

        <div class="create-body">
          <h1 class="create-title">Create User</h1>
          <p class="create-status" id="status">{{status}}</p>
          <form action="{{url_for('createUser')}}" method="POST">
              <p></p><input name="user-name" class="create-user-input" placeholder="Name...">
              <p></p><input name="user-email" type="email"class="create-user-input" placeholder="Email...">
              <p></p><input name="user-login" class="create-user-input" placeholder="Username...">
              <p></p><button type="submit" value="create" name="create" type="submit" class="dropbtn-user">Create</button>
          </form>
        </div>
      </div>
  </body>
  <footer>
    <div class='center-foot'>
      <p id="foot">Developed by Ethan McFarland | David Speciale</p>
    </div>
  </footer> 
</html>
